# Byte-compiled / optimized / DLL files
__pycache__/

# vscode settings
.vscode/

# Replit
.replit

# Others
.DS_Store

# Logs
*.log

# Database
*.sqlite
*.db

# Environment variables
.env

# Virtual environment
venv/

# Report
*.pdf
reports/

# Test Data
test_data/